* {
    font-family: Helvetica, sans-serif;
}

.text-encompass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* Adjust width as needed */
    height: 550px; /* Adjust height as needed */
    float: left;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

#bottom {
    width: 100%; /* Adjust width as needed */
    height: 500px;
    overflow: auto;
    margin-top: 100px;
}

#processedEntries {
    margin-top: 150px;
    border-collapse: collapse; 
}

@media only screen and (max-width: 768px) {
    .text-encompass {
        width: 100%;
    }
}

.title {
    text-align: center;
    width: 100%;
}

table, textarea {
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
    align-self: center;
    font-size: small;
}

table {
    text-align: center;
    font-size: medium;
    height: auto;
}

tbody {
    border-radius: 10px;
}

textarea:focus {
    outline-color: #138a43; /* Change the color to your desired outline color */
    /* Optionally, you can adjust other outline properties */
    outline-style: solid;
    outline-width: 2px;
}